In [31]:
import pandas as pd
soln = pd.read_csv('solution1.csv',
                   header=None)

In [32]:
soln.rename(columns = {0:'streetId', 1:'count_2015', 2:'count_2016', 3:'count_2017', 
                          4:'count_2018', 5:'count_2019', 6:'coef'}, inplace=True)

In [33]:
soln

,streetId,count_2015,count_2016,count_2017,count_2018,count_2019,coef
0,100127,6,0,4,15,0,0.3
1,100130,14,18,21,24,10,-0.2
2,100277,1,1,0,2,0,-0.1
3,100279,22,56,61,84,10,0.4
4,100484,9,8,19,20,4,0.2
...,...,...,...,...,...,...,...
72261,92487,53,114,85,19,6,-18.9
72262,92641,20,10,11,19,14,-0.3
72263,92692,121,65,83,49,24,-21.0
72264,92724,17,9,7,5,2,-3.4
72265,92768,9,3,7,7,6,-0.2

In [34]:
ct2015 = pd.to_numeric(soln.count_2015).sum()
ct2016 = pd.to_numeric(soln.count_2016).sum()
ct2017 = pd.to_numeric(soln.count_2017).sum()
ct2018 = pd.to_numeric(soln.count_2018).sum()
ct2019 = pd.to_numeric(soln.count_2019).sum()

In [35]:
ct2015+ct2016+ct2017+ct2018+ct2019

37181538